/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

/*@font-face {
	font-family: 'MyFont';
	src: url('../fonts/MyFontFile.woff2') format('woff2'),
			url('../fonts/MyFontFile.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}*/

